<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" [(ngModel)]="email"required>
  </mat-form-field>
  <div class="btn-group">
    <button mat-raised-button color="primary" (click)="getAll()">Search</button>
    <button mat-raised-button color="primary" (click)="getByEmail()">Search By Email</button>
    <button mat-raised-button color="primary" (click)="showInvestor()">Show Investor</button>
  </div>


  <!-- <p>{{}}</p> -->
</div>


