<form class="container" [formGroup]="formRegister" (ngSubmit)="onSubmit()" mustMatch>
    <h1>Registre-se</h1>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="formRegister.get('name').hasError('required')">
            Nome é <b>obrigatório!</b>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. joao@example.com">
        <mat-error *ngIf="formRegister.get('email').hasError('required')">
            Email é <b>obrigatório</b>!
        </mat-error>
        <mat-error *ngIf="formRegister.get('email').hasError('email')">
            Por favor insira um endereço de e-mail válido!
        </mat-error>
    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Senha</mat-label>
        <input type="password" formControlName="password" minlength="7" matInput>
        <mat-error *ngIf="formRegister.get('password').hasError('required')">
            Senha é <b>obrigatório!</b>
        </mat-error>
        <mat-error *ngIf="formRegister.get('password').hasError('minlength')">
            Senha deve conter no <b>mínimo</b> 7 caracteres!
        </mat-error>
    </mat-form-field>



    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Confirma Senha</mat-label>
        <input type="password" formControlName="confirmPassword" matInput>
        <mat-error *ngIf="formRegister.get('confirmPassword').hasError('required')">
            Confirmar senha é <b>obrigatório!</b>
        </mat-error>

    </mat-form-field>
    <span class="custom-error" *ngIf="formRegister.errors?.mustMatch && !formRegister.get('confirmPassword').hasError('required') && formRegister.get('confirmPassword').touched">
        Confirmar senha <b>diferente</b> do campo senha!
    </span>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Celular</mat-label>
        <input mask="(00) 00000-0000" placeholder="(55) 55555-5555" formControlName="phone" matInput>
        <mat-error *ngIf="formRegister.get('phone').hasError('required')">
            Telefone é <b>obrigatório!</b>
        </mat-error>
        <mat-error *ngIf="formRegister.get('phone').hasError('mask')">
            Telefone <b>inválido!</b>
        </mat-error>
    </mat-form-field>

    <!-- <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Celular</mat-label>
        <span matPrefix>+55 &nbsp;</span>
        <input type="tel" matInput placeholder="(55) 55555-5555">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field> -->


    <div class="btn-group">
        <button mat-raised-button color="primary" type="submit" style="margin-right: 10px"
            [disabled]="!formRegister.valid">Cadastra-se</button>
        <button mat-raised-button color="primary" type="button" routerLink="/login">Voltar para Login</button>



        <!-- <button mat-raised-button color="primary" type="button" (click)="onGetInvestorByEmail()">Buscar email</button> -->
    </div>
</form>