<form class="container" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
    <h1>Registre-se</h1>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="!formRegister.get('name').valid">
            Nome é obrigatório
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. joao@example.com">
        <mat-error *ngIf="!formRegister.get('email').valid">
            Por favor insira um endereço de e-mail válido
        </mat-error>

    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Senha</mat-label>
        <input type="password" formControlName="password" minlength="7" matInput>
        <mat-error *ngIf="!formRegister.get('password').valid">
            Senha é obrigatório
        </mat-error>
    </mat-form-field>



    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Confirma Senha</mat-label>
        <input type="password" formControlName="confirmPassword" minlength="7" matInput>
        <mat-error *ngIf="formRegister.get('confirmPassword').invalid">
                Confirmar senha é obrigatório
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Celular</mat-label>
        <input mask="(00) 00000-0000" placeholder="(55) 55555-5555" formControlName="phone" matInput>
        <mat-error *ngIf="!formRegister.get('phone').valid">
            Telefone é obrigatório
        </mat-error>
    </mat-form-field>

    <!-- <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Celular</mat-label>
        <span matPrefix>+55 &nbsp;</span>
        <input type="tel" matInput placeholder="(55) 55555-5555">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field> -->


    <div class="btn-group">
        <button mat-raised-button color="primary" type="submit" style="margin-right: 10px" [disabled]="!formRegister.valid">Cadastra-se</button>
        <button mat-raised-button color="primary" type="button" routerLink="/login">Voltar para Login</button>
        <!-- <button mat-raised-button color="primary" type="button" (click)="onGetInvestorByEmail()">Buscar email</button> -->
    </div>

</form>



