.container {
    padding-top: 10%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.btn-group{
    margin-top: 10px;
}

.custom-error {
    color: #f44336;
    font-size: 75%;
    margin-top: -15px;
    margin-left: 10px;
}