<!-- <h1>Seja bem-vindo ao Simuinvest {{userEmail}}</h1> -->

<div class="container">
    <h2>Principais tipos de investimentos financeiros</h2>
    <div class="cards">
        <mat-card class="card">
            <mat-card-title>Renda fixa</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            <mat-card-content>
                <p>This card indeterminates progress bar.</p>
                <p>{{longText}}</p>
            </mat-card-content>
            <mat-card-actions>
               
                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            <mat-card-content>
                <p>This card indeterminates progress bar.</p>
                <p>{{longText}}</p>
            </mat-card-content>
            <mat-card-actions>
               
                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            <mat-card-content>
                <p>This card indeterminates progress bar.</p>
                <p>{{longText}}</p>
            </mat-card-content>
            <mat-card-actions>
               
                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <hr>
    <h2>Tipos de Renda Fixa</h2>
    <div class="cards">
        <mat-card class="card">
            <mat-card-title>O que é renda fixa?</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            <mat-card-content>
                <p>This card indeterminates progress bar.</p>
                <p>{{longText}}</p>
            </mat-card-content>
            <mat-card-actions>
               
                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            <mat-card-content>
                <p>This card indeterminates progress bar.</p>
                <p>{{longText}}</p>
            </mat-card-content>
            <mat-card-actions>
               
                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            <mat-card-content>
                <p>This card indeterminates progress bar.</p>
                <p>{{longText}}</p>
            </mat-card-content>
            <mat-card-actions>
               
                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <hr>

    <h2>Principais Criptomoedas</h2>
    <div class="cards">
        <mat-card class="card">
            <mat-card-title>O que é renda fixa?</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            <mat-card-content>
                <p>This card indeterminates progress bar.</p>
                <p>{{longText}}</p>
            </mat-card-content>
            <mat-card-actions>
               
                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            <mat-card-content>
                <p>This card indeterminates progress bar.</p>
                <p>{{longText}}</p>
            </mat-card-content>
            <mat-card-actions>
               
                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            <mat-card-content>
                <p>This card indeterminates progress bar.</p>
                <p>{{longText}}</p>
            </mat-card-content>
            <mat-card-actions>
               
                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <hr>
</div>
<!-- <button (click)="show()">Show</button> -->