<div class="container">
    <h2>O que é renda fixa e seus principais conceitos</h2>


    <div class="cards">

        <mat-card class="card">
            <mat-card-title>O que é renda fixa</mat-card-title>
            <mat-card-content>
                <p>É o investimento realizado diretamente em Títulos Públicos e Privados de Renda Fixa. Quando você
                    compra um título de Renda Fixa, você está emprestando dinheiro ao emissor do papel, que pode ser um
                    banco, uma empresa ou mesmo o Governo. Em troca, recebe uma remuneração por um determinado prazo, na
                    forma de juros e/ou correção monetária, podendo receber, ainda, parcelas chamadas amortizações.</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-title>Renda Fixa Pré-Fixada</mat-card-title>
            <mat-card-content>
                <p>Nas aplicações de renda fixa pré-fixada, os juros são fixos e estabelecidos no momento em que elas
                    são lançadas,
                    sendo assim o investidor consegui sabe qual será taxa que sera paga ao longo do investimento. Com
                    isso, o investidor consegue saber quanto receberá no vencimento do investimento.</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-title>Renda Fixa Pós-Fixada</mat-card-title>
            <mat-card-content>
                <p>Nas aplicações de renda fixa pós-fixados, a remuneração é atrelada a algum indicador de referência
                    (como a Selic ou a taxa do CDI) e o valor do título é atualizado com base nele. O investidor sabe,
                    de antemão, que indicador é esse, mas não tem certeza de quanto receberá no vencimento em reais,
                    porque a taxa pode variar ao longo do tempo.</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-title>CDI</mat-card-title>
            <mat-card-content>
                <p>O CDI (Certificado de Depósito Interbancário) é um mecanismo de lastro (garantia) para operações
                    realizadas diariamente por instituições financeiras. Ele reflete diretamente o custo dos empréstimos
                    feitos entre os bancos, e por isso costuma acompanhar de perto a própria taxa Selic (EXAME,2021).
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <hr>
    <h2>Tipos de Renda Fixa</h2>
    <div class="cards">

        <mat-card class="card">
            <mat-card-title>Poupança</mat-card-title>
            <mat-card-content>
                <p> Em janeiro de 1861 Dom Pedro II assinou um decreto com a criação da poupança na Caixa Econômica que
                    rendia 6% de juros ao dinheiro, destinada a pessoas de baixa renda.
                    A poupança é uma aplicação de renda fixa simples e acessível para todo mundo. Mas está rendendo
                    menos a cada ano figura 3. Isso é um problema para os investidores que mantêm todos os recursos
                    aplicados na
                    caderneta. A redução da rentabilidade da poupança pode acabar levando a uma perda real de poder de
                    compra, rendendo menos
                    o poder da compra também diminui.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-title>Tesouro Prefixado</mat-card-title>
            <mat-card-content>
                <p>O IPCA (Índice Nacional de Preços ao Consumidor Amplo) é um índice que mede a variação de preços de
                    mercado para o consumidor final. Estabelecido pelo Instituto Brasileiro de Geografia e Estatística
                    (IBGE) mensalmente, ele representa o índice oficial da inflação no Brasil. É um bom termômetro para
                    avaliar perdas no poder de compra.
                    Calculado desde 1979, então, o IPCA identifica uma variação nos preços do comércio. Ele é utilizado
                    pelo Banco Central para monitorar a inflação (BTGPACTUALDIGITAL, 2017).
                </p>
            </mat-card-content>
            <mat-card-actions>

                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-title>Tesouro Selic</mat-card-title>

            <mat-card-content>
                <p>A LC (Letra de Câmbio) um ativo de renda fixa emitido pelas financeiras, como a Crefisa e a BMG.
                    Basicamente, este investimento funciona como um empréstimo do seu dinheiro ao emissor até a data de
                    vencimento estabelecida no momento da compra. O dinheiro captado pelas financeiras por meio da LC é
                    utilizado para o custeio de empréstimos (RICONNECT, 2019).</p>
            </mat-card-content>
            <mat-card-actions>

                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-title>LC</mat-card-title>
            <mat-card-content>
                <p>A LC (Letra de Câmbio) um ativo de renda fixa emitido pelas financeiras, como a Crefisa e a BMG.
                    Basicamente, este investimento funciona como um empréstimo do seu dinheiro ao emissor até a data de
                    vencimento estabelecida no momento da compra. O dinheiro captado pelas financeiras por meio da LC é
                    utilizado para o custeio de empréstimos (RICONNECT, 2019).</p>
            </mat-card-content>
            <mat-card-actions>

                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-title>LCA</mat-card-title>

            <mat-card-content>
                <p> 
                    As LCAs (Letras de Crédito do Agronegócio) são títulos emitidos por instituições financeiras que
                    remuneram o investidor por um prazo determinado no momento do investimento e são fonte de recursos
                    para participantes do setor do agronegócio. Na prática, o investidor emprestará seu dinheiro para
                    recebê-lo corrigido no futuro (BTGPACTUALDIGITAL, 2020).
                </p>
            </mat-card-content>
            <mat-card-actions>

                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-title>LCI</mat-card-title>
            <mat-card-content>
                <p>
                    As LCAs (Letras de Crédito do Agronegócio) são títulos emitidos por instituições financeiras que
                    remuneram o investidor por um prazo determinado no momento do investimento e são fonte de recursos
                    para participantes do setor do agronegócio. Na prática, o investidor emprestará seu dinheiro para
                    recebê-lo corrigido no futuro (BTGPACTUALDIGITAL, 2020).
                </p>
            </mat-card-content>
            <mat-card-actions>

                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-title>CDB</mat-card-title>
            <mat-card-content>
                <p>{{longText}}</p>
            </mat-card-content>
            <mat-card-actions>

                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <hr>

    <h2>Tipo de Perfil de Investidor</h2>
    <div class="cards">
        <mat-card class="card">
            <mat-card-title>Conservador</mat-card-title>
            <mat-card-content>
                <p> Como o próprio nome sugere, o investidor de perfil conservador tem maior aversão ao risco – isto é,
                    prefere investir seu dinheiro em produtos que apresentem nenhum ou baixo risco. No geral, podemos
                    dizer que o investidor conservador busca receber ganhos reais com o menor risco possível, mesmo que
                    para isso tenha que abrir mão de certa rentabilidade (NUBANK, 2021).</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-title>Moderado</mat-card-title>
            <mat-card-content>
                <p>Podemos dizer que o investidor de perfil moderado corre um risco médio em suas aplicações – ele está
                    disposto a assumir riscos um pouco maiores para ter uma rentabilidade também maior; mas, ao mesmo
                    tempo, não abre mão de certa segurança. Por isso, ele investe tanto em renda fixa, mais segura,
                    quanto em outras opções, como fundos multimercados (de médio risco) e até ações (NUBANK, 2021).</p>
            </mat-card-content>
            <mat-card-actions>

                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-title>Agressivo</mat-card-title>
            <mat-card-content>
                <p>Investidores agressivos ou arrojados estão dispostos a correr riscos para ter maior rentabilidade – e
                    até perder parte de seu patrimônio em nome disso. Em uma carteira de investimentos, a maior parte de
                    suas aplicações está em produtos de renda variável – ações, fundos de ações, opções, entre outros.
                    (NUBANK, 2021)</p>
            </mat-card-content>
            <mat-card-actions>

                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <hr>

    <h2>Outros investimentos</h2>
    <div class="cards">
        <mat-card class="card">
            <mat-card-title>Criptomoedas</mat-card-title>
            <mat-card-content>
                <p> Genericamente, uma criptomoeda é um tipo de dinheiro – como outras moedas com as quais convivemos
                    cotidianamente – com a diferença de ser totalmente digital. Além disso, ela não emitida por nenhum
                    governo (como é o caso do real ou do dólar, por exemplo</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-title>Mercado de Ações</mat-card-title>
            <mat-card-content>
                <p> Genericamente, uma criptomoeda é um tipo de dinheiro – como outras moedas com as quais convivemos
                    cotidianamente – com a diferença de ser totalmente digital. Além disso, ela não emitida por nenhum
                    governo (como é o caso do real ou do dólar, por exemplo</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LER MAIS</button>
            </mat-card-actions>
        </mat-card>

    </div>


    <div style="padding-bottom: 100px;"></div>
</div>