<div class="container">

    <h2 style="margin-top: 0px;">O que é renda fixa e seus principais conceitos</h2>

    <div class="cards">
        <mat-card class="card">
            <h2>O que é renda fixa</h2>
            <mat-card-content>
                É o investimento realizado diretamente em Títulos Públicos e Privados de Renda Fixa. Quando você
                compra um título de Renda Fixa, você está emprestando dinheiro ao emissor do papel, que pode ser um
                banco, uma empresa ou mesmo o Governo. Em troca, recebe uma remuneração por um determinado prazo, na
                forma de juros e/ou correção monetária, podendo receber, ainda, parcelas chamadas amortizações.
            </mat-card-content>
            <mat-card-actions>
                <a href="https://www.xpi.com.br/investimentos/renda-fixa/" target="_blank" mat-button>LER MAIS</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <h2>Renda Fixa Pré-Fixada</h2>
            <mat-card-content>
                Nas aplicações de renda fixa pré-fixada, os juros são fixos e estabelecidos no momento em que elas
                são lançadas,
                sendo assim o investidor consegui sabe qual será taxa que sera paga ao longo do investimento. Com
                isso, o investidor consegue saber quanto receberá no vencimento do investimento.
            </mat-card-content>
            <mat-card-actions>
                <a href="https://www.infomoney.com.br/guias/renda-fixa/" target="_blank" mat-button>LER MAIS</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <h2>Renda Fixa Pós-Fixada</h2>
            <mat-card-content>
                Nas aplicações de renda fixa pós-fixados, a remuneração é atrelada a algum indicador de referência
                (como a Selic ou a taxa do CDI) e o valor do título é atualizado com base nele. O investidor sabe,
                de antemão, que indicador é esse, mas não tem certeza de quanto receberá no vencimento em reais,
                porque a taxa pode variar ao longo do tempo.
            </mat-card-content>
            <mat-card-actions>
                <a href="https://www.infomoney.com.br/guias/renda-fixa/" target="_blank" mat-button>LER MAIS</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <h2>CDI</h2>
            <mat-card-content>
                O CDI (Certificado de Depósito Interbancário) é um mecanismo de lastro (garantia) para operações
                realizadas diariamente por instituições financeiras. Ele reflete diretamente o custo dos empréstimos
                feitos entre os bancos, e por isso costuma acompanhar de perto a própria taxa Selic.
            </mat-card-content>
            <mat-card-actions>
                <a href="https://www.infomoney.com.br/guias/renda-fixa/" target="_blank" mat-button>LER
                    MAIS</a>
            </mat-card-actions>
        </mat-card>
    </div>
    
    <h2>Tipos de Renda Fixa</h2>

    <div class="cards">
        <mat-card class="card">
            <h2>Poupança</h2>
            <mat-card-content>      
                Em janeiro de 1861 Dom Pedro II assinou um decreto com a criação da poupança na Caixa Econômica que
                rendia 6% de juros ao dinheiro, destinada a pessoas de baixa renda.
                A poupança é uma aplicação de renda fixa simples e acessível para todo mundo. Mas está rendendo
                menos a cada ano figura 3. Isso é um problema para os investidores que mantêm todos os recursos
                aplicados na
                caderneta. A redução da rentabilidade da poupança pode acabar levando a uma perda real de poder de
                compra, rendendo menos
                o poder da compra também diminui.
            </mat-card-content>
            <mat-card-actions>
                <a href="https://www.infomoney.com.br/guias/poupanca/" target="_blank" mat-button>LER MAIS</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <h2>Tesouro Prefixado</h2>
            <mat-card-content>
                O IPCA (Índice Nacional de Preços ao Consumidor Amplo) é um índice que mede a variação de preços de
                mercado para o consumidor final. Estabelecido pelo Instituto Brasileiro de Geografia e Estatística
                (IBGE) mensalmente, ele representa o índice oficial da inflação no Brasil. É um bom termômetro para
                avaliar perdas no poder de compra.
                Calculado desde 1979, então, o IPCA identifica uma variação nos preços do comércio. Ele é utilizado
                pelo Banco Central para monitorar a inflação (BTGPACTUALDIGITAL, 2017).
            </mat-card-content>
            <mat-card-actions>
                <a href="https://www.ibge.gov.br/explica/inflacao.php" target="_blank" mat-button>LER MAIS</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <h2>Tesouro Selic</h2>
            <mat-card-content>
                O Tesouro Selic é um título público federal de renda fixa disponibilizado pela plataforma do Tesouro
                Direto. Ele tem rentabilidade pós-fixada que acompanha a variação da taxa Selic.
                É um investimento seguro e com retornos relativamente positivos, um título público federal de renda
                fixa criado e disponibilizado através do Tesouro Direto. Você emprestar dinheiro ao Governo e após
                um prazo, você recebe esse valor de volta com juros. Ele tem rentabilidade pós-fixada que acompanha
                a variação da principal taxa do mercado financeiro: a Selic. (SERASA, 2019). 
            </mat-card-content>
            <mat-card-actions>
                <a href="https://www.serasa.com.br/limpa-nome-online/blog/investimento-tesouro-selic/" target="_blank"
                    mat-button>LER MAIS</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <h2>LC</h2>
            <mat-card-content>
                A LC (Letra de Câmbio) um ativo de renda fixa emitido pelas financeiras, como a Crefisa e a BMG.
                Basicamente, este investimento funciona como um empréstimo do seu dinheiro ao emissor até a data de
                vencimento estabelecida no momento da compra. O dinheiro captado pelas financeiras por meio da LC é
                utilizado para o custeio de empréstimos (RICONNECT, 2019).
            </mat-card-content>
            <mat-card-actions>

                <a href="https://riconnect.rico.com.vc/blog/investir-lc" target="_blank" mat-button>LER MAIS</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <h2>LCA</h2>
            <mat-card-content>
                As LCAs (Letras de Crédito do Agronegócio) são títulos emitidos por instituições financeiras que
                remuneram o investidor por um prazo determinado no momento do investimento e são fonte de recursos
                para participantes do setor do agronegócio. Na prática, o investidor emprestará seu dinheiro para
                recebê-lo corrigido no futuro (BTGPACTUALDIGITAL, 2020). 
            </mat-card-content>
            <mat-card-actions>
                <a href="https://www.btgpactualdigital.com/renda-fixa/lca" target="_blank" mat-button>LER MAIS</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <h2>LCI</h2>
            <mat-card-content>
                As LCIs (Letras de Crédito Imobiliário) são títulos emitidos por instituições financeiras que
                remuneram o investidor por um prazo determinado no momento do investimento, sendo fonte de
                investimentos para o setor imobiliário, pois são lastreados em créditos imobiliários. Na prática, o
                investidor emprestará seu dinheiro ao setor imobiliário para recebê-lo corrigido no futuro
                (BTGPACTUALDIGITAL, 2020).  
            </mat-card-content>
            <mat-card-actions>

                <a href="https://www.btgpactualdigital.com/renda-fixa/lci" target="_blank" mat-button>LER MAIS</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <h2>CDB</h2>
            <mat-card-content>
                Assim como o governo levanta dinheiro emitindo títulos públicos, os bancos fazem o mesmo lançando
                Certificados de Depósitos Bancários (CDBs) no mercado. Os CDBs mais comuns são pós-fixados e
                oferecem como remuneração um percentual de algum índice de referência de renda fixa – normalmente, a
                taxa do CDI. Em alguns bancos, essa rentabilidade pode ser tão baixa quanto a da poupança (de 70% do
                CDI, por exemplo). Mas, para atrair investidores, alguns outros podem oferecer até mais do que 100%
                do CDI INFOMONEY, 2021).
            </mat-card-content>
            <mat-card-actions>
                <a href="https://www.infomoney.com.br/guias/cdb/?screening=true&amp" target="_blank" mat-button>LER MAIS</a>
            </mat-card-actions>
        </mat-card>
    </div>

    <h2>Tipo de Perfil de Investidor</h2>

    <div class="cards">
        <mat-card class="card">
            <h2>Conservador</h2>
            <mat-card-content>
                Como o próprio nome sugere, o investidor de perfil conservador tem maior aversão ao risco – isto é,
                prefere investir seu dinheiro em produtos que apresentem nenhum ou baixo risco. No geral, podemos
                dizer que o investidor conservador busca receber ganhos reais com o menor risco possível, mesmo que
                para isso tenha que abrir mão de certa rentabilidade.
            </mat-card-content>
            <mat-card-actions>
                <a href="https://blog.nubank.com.br/perfil-de-investidor-quais-sao/" target="_blank" mat-button>LER MAIS</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <h2>Moderado</h2>
            <mat-card-content>
                Podemos dizer que o investidor de perfil moderado corre um risco médio em suas aplicações – ele está
                disposto a assumir riscos um pouco maiores para ter uma rentabilidade também maior; mas, ao mesmo
                tempo, não abre mão de certa segurança. Por isso, ele investe tanto em renda fixa, mais segura,
                quanto em outras opções, como fundos multimercados (de médio risco) e até ações.
            </mat-card-content>
            <mat-card-actions>
                <a href="https://blog.nubank.com.br/perfil-de-investidor-quais-sao/" target="_blank" mat-button>LER MAIS</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <h2>Agressivo</h2>
            <mat-card-content>                
                Investidores agressivos ou arrojados estão dispostos a correr riscos para ter maior rentabilidade –
                e
                até perder parte de seu patrimônio em nome disso. Em uma carteira de investimentos, a maior parte de
                suas aplicações está em produtos de renda variável – ações, fundos de ações, opções, entre outros.
            </mat-card-content>
            <mat-card-actions>
                <a href="https://blog.nubank.com.br/perfil-de-investidor-quais-sao/" target="_blank" mat-button>LER MAIS</a>
            </mat-card-actions>
        </mat-card>
    </div>

    <h2>Outros investimentos</h2>
    
    <div class="cards">
        <mat-card class="card">
            <h2>Criptomoedas</h2>
            <mat-card-content>
                Genericamente, uma criptomoeda é um tipo de dinheiro – como outras moedas com as quais convivemos
                cotidianamente – com a diferença de ser totalmente digital. Além disso, ela não emitida por nenhum
                governo (como é o caso do real ou do dólar, por exemplo(INFOMONEY, 2022).
            </mat-card-content>
            <mat-card-actions>
                <a href="https://www.infomoney.com.br/guias/criptomoedas/" target="_blank" mat-button>LER MAIS</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <h2>Mercado de Ações</h2>
            <mat-card-content>
                Uma ação representa a menor parcela do capital de uma empresa. Quem compra ações de uma companhia
                adquire também os direitos — e os deveres — de um sócio.
                Se for uma companhia aberta, registrada na Comissão de Valores Mobiliários, suas ações podem ser
                negociadas publicamente na bolsa de valores(INFOMONEY, 2022).
            </mat-card-content>
            <mat-card-actions>
                <a href="https://www.infomoney.com.br/guias/mercado-de-acoes/#guia-o-que-e-mercado-de-acoes" target="_blank" mat-button>LER MAIS</a>
            </mat-card-actions>
        </mat-card>
</div>