.card {
    min-width: 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;

    justify-items: center;
    
    .mat-card-title{
        margin-bottom: 20px;
    }

    .mat-card-content{
        margin-bottom: 40px;
    }

    .mat-card-actions{
        position: absolute;
        bottom: 5%;
        left: 4;
    }
}


.cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}


h2 {
    margin: 40px 0px 40px 0px;
}