<h1>simulator works!</h1>

<div class="container">


    <div class="">
        <select class="form-select" aria-label="Default select example" name="cars" id="cars">
            <option value="LCA">LCA</option>
            <option value="LCI">LCI</option>
            <option value="Selic">Selic</option>
        </select>
    </div>




    <input class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Depósito inicial</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" >
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Depósito mensal</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" />
    </div>



    <label for="customRange1" class="form-label">Total de meses</label>
    <input type="range" class="form-range" id="customRange1">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Total de meses</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" />
    </div>
</div>