<h1>simulator works!</h1>

<div class="container">


    <div class="">
        <label for="initialDeposit " class="form-label">Papel de Renda Fixa</label>
        <select class="form-select" aria-label="Default select example" name="cars" id="cars">
            <option value="LCA">LCA</option>
            <option value="LCI">LCI</option>
            <option value="Selic">Selic</option>
        </select>
    </div>




    <div class="mb-3">
        <label for="initialDeposit " class="form-label">Depósito inicial</label>
        <input type="number" class="form-control" id="initialDeposit " placeholder="" >
    </div>

    <div class="mb-3">
        <label for="monthlyDeposit" class="form-label">Depósito mensal</label>
        <input type="number" class="form-control" id="monthlyDeposit" placeholder="" />
    </div>


    <div>
        <label for="totalMonths " class="form-label">Total de meses</label>
        <input type="range" class="form-range" id="totalMonths">
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="" />
    </div>


</div>