<div class="container">
    <h1>Login</h1>
    <h2>Efetuer seu login</h2>

    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput>
    </mat-form-field>

    <a mat-stroked-button href="https://www.google.com/" target="_blank">Criar conta</a>
    <button mat-raised-button color="primary">Entrar</button>
    <button mat-raised-button color="primary">Sair</button>


</div>