<h1>Editar perfil</h1>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Idade</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput>
    </mat-form-field>



    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>CPF</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
</form>