
<form class="container example-form">
    <h1>Editar perfil</h1>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Idade</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput>
    </mat-form-field>



    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>CPF</mat-label>
        <input matInput>
    </mat-form-field>

    <div class="btn-group">
        <button mat-raised-button color="primary" style="margin-right: 10px">Atualizar</button>
        <button mat-raised-button color="primary">Cancelar</button>    
    </div>

</form>