
<div class="container">

<div class="quests-container">
    <h2 class="questionTitle">Teste Perfil de Investidor</h2>

    <span class="questionCount">{{questionNumber + 1}}/05</span>
    <ul>
        <li>
            <div class="quest-container">
                <input type="radio" name="answer" [value]="1" [(ngModel)]="questions[questionNumber].answer">
                <div class="quest">

                    <p>{{questions[questionNumber].question01}}</p>
                </div>
            </div>
        </li>

        <li>
            <div class="quest-container">
                <input type="radio" name="answer" [value]="2" [(ngModel)]="questions[questionNumber].answer">
                <div class="quest">
                    <p>{{questions[questionNumber].question01}}</p>
                </div>
            </div>
        </li>

        <li>
            <div class="quest-container">
                <input type="radio" name="answer" [value]="3" [(ngModel)]="questions[questionNumber].answer">

                <div class="quest">
                    <p>{{questions[questionNumber].question01}}</p>

                </div>
            </div>
        </li>

    </ul>
    <div class="btn-container">
        <button (click)="previousQuestion()" mat-raised-button color="primary">Anterior</button>
        <button (click)="nextQuest()" mat-raised-button color="primary">Proximo</button>
    </div>
</div>

</div>