$ifam-color: green;

ul {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .question-container {
        margin: auto;
    }
}

li {
    list-style: none;
    display: flex;
    
}

.question {
    margin: auto;
    font-size: 1.7rem;
}

.question-item {
    
    background-color: #43a047;
    border-radius: 30px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;


    
    min-height: 200px;
    min-width: 800px;

    max-height: 200px;
    max-width: 800px;


    box-sizing: border-box;
    p {
        padding: 0px 20px 0 20px;
        font-size: 1.5rem;
        color: azure;
        font-display: initial;
    }
}

.question-container {
    display: flex;

    input {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 20px;
    }
}

.question-title {
    text-align: center;
    font-size: 2em;
}

.question-count {
    padding-left: 90%;
    font-size: 1.5rem;
}

.questions-container {
    width: 100%;
    padding: auto;
}

.btn-group {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    margin: auto;

    .btn {
        padding: 10px 20px 10px 20px;
        font-size: 110%;
        border-radius: 20px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: auto;
}


@media (max-width: 500px) {
    .container {
        width: 95%;
    }
    .question-item {
        border-radius: 30px;
        margin-bottom: 20px;
        align-items: center;
        display: flex;

        min-height: 200px;
        min-width: 300px;

        max-height: 200px;
        max-width: 300px;
    }

    .question-count {
        padding-left: 80%;
    }


}