<div class="container">
    <h2 class="question-title">Teste Perfil de Investidor</h2>
    <p class="question">
       {{questions[questionNumber].question}}
    </p>
    <div class="questions-container">
        <span class="question-count">0{{questionNumber + 1}}/05</span>
        <ul>
            <li>
                <div class="question-container">
                    <input type="radio" name="answer" [value]="1" [(ngModel)]="questions[questionNumber].answer">
                    <div (click)="onSelectAswner1(questionNumber)" class="question-item" color="primary">
                        <p>{{questions[questionNumber].answer01}}</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="question-container">
                    <input type="radio" name="answer" [value]="2" [(ngModel)]="questions[questionNumber].answer">
                    <div (click)="onSelectAswner2(questionNumber)" class="question-item">
                        <p>{{questions[questionNumber].answer02}}</p>
                    </div>
                </div>
            </li>

            <li >
                <div class="question-container" style="margin-bottom: 0;">
                    <input type="radio" name="answer" [value]="3" [(ngModel)]="questions[questionNumber].answer">
                    <div (click)="onSelectAswner3(questionNumber)" class="question-item">
                        <p>{{questions[questionNumber].answer03}}</p>
                    </div>
                </div>
            </li>

        </ul>
    </div>

    <div class="btn-group">
        <button class="btn" (click)="previousQuestion()" mat-raised-button color="primary">Anterior</button>
        <button class="btn" (click)="nextQuest()" mat-raised-button color="primary">Proximo</button>
    </div>
</div>

